            * {
                margin: 0 auto;
                text-align: center;
            }
            a {
                text-decoration: none;
                color: black;
            }
            a:hover {
                text-decoration: underline;
                color: #424242;                
            }
            .hFont{
                font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
                letter-spacing:0.15em;
                color: #424242;
                text-transform: lowercase;
                font-variant: small-caps;
            }
            #heading > h1 {
                margin: 40px auto;
                line-height: 145%;
                font-size: 22pt;
            }
          /*li {
                font-size: 10pt;
                position: relative;
            }*/
            /*#heading > p > a {
                text-decoration: none;
            }*/
            
            
            #heading > p > a:hover {
                text-decoration: underline;
            }
            #box, .newBox {
                border: 1px solid black;
                width: 400px;
                margin: 0 auto;
                padding: 0px 0 20px 0px;
                margin-bottom: 10px;
                
            }
            h3 {
                border: 1px solid gray;
                color: #424242;
                background: #7acfad;
                font-family: 'Inder', sans-serif;
                letter-spacing:0.3em;
                text-transform: lowercase;
                line-height: 245%;
                font-size: 16pt;
                font-variant: small-caps;
            }
            #box #todo {
                background:#FFFFFF;
                color:#802121;
                font-size:16px ;
                height: 37px ;
                line-height:37px ;
                width: 332px ;
                padding: 10px ;
                margin: 20px;
                box-shadow: 1px 3px 0px #706060; 
                -webkit-box-shadow: 1px 3px 0px #706060; 
                -moz-box-shadow: 1px 3px 0px #706060; 
            }
           #sub, .mybtn {
                display: inline-block;
                text-align: center;
                vertical-align: middle;
                padding: 6px 29px;
                border: 2px solid #4b7f6a;
                border-radius: 0px;
                background: #7acfad;
                background: -webkit-gradient(linear, left top, left bottom, from(#7acfad), to(#4b7f6a));
                background: -moz-linear-gradient(top, #7acfad, #4b7f6a);
                background: linear-gradient(to bottom, #7acfad, #4b7f6a);
                text-shadow: #2f5043 1px 1px 1px;
                font: normal normal normal 12px arial;
                color: #ffffff;
                text-decoration: none;
}
#sub:hover,
#sub:focus,
#mybtn:hover,
#mybtn:focus {
    border: 2px solid #5e9f85;
    background: #92f8d0;
    background: -webkit-gradient(linear, left top, left bottom, from(#92f8d0), to(#5a987f));
    background: -moz-linear-gradient(top, #92f8d0, #5a987f);
    background: linear-gradient(to bottom, #92f8d0, #5a987f);
    color: #ffffff;
    text-decoration: none;
}
#sub:active {
    background: #4b7f6a;
    background: -webkit-gradient(linear, left top, left bottom, from(#4b7f6a), to(#4b7f6a));
    background: -moz-linear-gradient(top, #4b7f6a, #4b7f6a);
    background: linear-gradient(to bottom, #4b7f6a, #4b7f6a);
}
#sub:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: -1px;
    background-size: 100% 100%;
}


#popupNoti > p {
    width: 500px;
    font-size: 8px;
    border: 1px solid black;
    color: #424242;
    background: #7acfad;
    font-family: 'Inder', sans-serif;
    letter-spacing:0.05em;
    text-transform: lowercase;
    line-height: 245%;
    font-size: 12pt;
    font-variant: small-caps;
    border-radius: 5px;
}
#popupNoti {
    display: none;
}


#todoList {
    list-style-type: none;
}
#todoList li {
    text-align: left;
}
#todoList .todoListText {
    margin: 10px;padding: 10px;
    border: 2px solid black;
    color: black;
}
#todoList .checkbox {
    position: relative;
    bottom: 20;
}
#todoList .todoListText p {
    text-align: left;
    font-size: 8pt;
    letter-spacing:0.1em;
}
.inputDltOrEdit {
    float: right;
}
